.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.mt-lg {
  margin-top: 8rem;
}

.mt-xl {
  margin-top: 10rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
